# data structure 
## list, set, tuple, dictionary 
build-in data types  
collection of elemet 
sequence 

id=() tuple 
id=[] list 
id={} set, dictionary

# list operation
## 1. indexing
## 2. sclicing

In [ ]:
#indexing
id=[15,6,7,8,6]
print(id[2])


#change the specific value
id[2]=2
print(id)

In [12]:
#scling         #syntax : list[start_index: stop_index]
                #syntax : list[start_index: stop_index: step]
id=[5,6,8,9,5,7]

print(id[1: :2])

[6, 9, 7]

#  insert 
.append(x)
.extend([x,y])
.insert(i,x)
concatenation +

In [16]:
#append()
id=[1,2,3,5,6,7,8]
id.append(10)
print(id)

[1, 2, 3, 5, 6, 7, 8, 10]

In [20]:
#extend
id=[1,2,3,]
roll_no=[5 ,6,7]
id.extend(roll_no)
print(id)

print(id[1:5])

[1, 2, 3, 5, 6, 7]
[2, 3, 5, 6]

In [27]:
#insert
id=[1,2,4,6,7,9]
id.insert(1,5)
print(id)

[1, 5, 2, 4, 6, 7, 9]

# remove elements
.remove
.pop
.clear

In [ ]:
#remove # this remove the same element from the list
id=[1,2,3,4,5]
id.remove(5)
print(id)

[1, 2, 3, 4]

In [38]:
#pop   #this remove the specific element by the index value from the list
id=[1,2,3,4,5,6,6]
id.pop(1)
id

[1, 3, 4, 5, 6, 6]

In [40]:
#clear   clear the list
id=[1,2,3,4,5]
id.clear()
print(id)

[]

# other function

In [ ]:
#reverse  # reverse the element in the list
id=[1,23,4,5,6,78,]
id.reverse()
print(id)

[78, 6, 5, 4, 23, 1]

In [51]:
#.sort 
id=[1,23,4,5,6,78,]
id.sort()

print(id)
#we can used reverse=true to reverse element in list
id.sort(reverse=True)
print(id)

[1, 4, 5, 6, 23, 78]
[78, 23, 6, 5, 4, 1]

In [57]:
#count
id=[1,2,4,5,7,1,1,1]
id.count(1)
#no need to print

4

In [58]:
#len(xy)
#max()
#min()
#sum()
#sorted()
id=[1,2,3,4,5,6,7,7,8,9,6,7,8]

# TUPLE 
immutable

In [65]:
#indexing and sclicing # tuple is denoted by small bracket

id=(2,4,5,6,7)
id[1:2]

(4,)

In [66]:
#creating a tuple
#accessing a element 
#sclicing a tuple
#cancatenation
#Repeating a tuple
#unpack a tuple
#tuple methods(.count(x) ,.index(x))
#checking membership

In [ ]:
#concatenation
id=(1,2,3,4,5,6)
roll_no=(8,9,7,6)
z=id+roll_no
z

(1, 2, 3, 4, 5, 6, 8, 9, 7, 6)

In [72]:
#repeating a tuple
id=(4,5,6)
id=3*id
id

(4, 5, 6, 4, 5, 6, 4, 5, 6)

#unpacking
(1,2,3)
x,y,z=(1,2,3)
x

In [ ]:
#tuple  method(count(),index())

id=(1,2,3,4,50,1)
counting=id.count(1)
print(counting)
indexing=id.bindex(2)
print(indexing)

2
1

In [88]:
#membership
id=(1,2,3,4,5,6,"ram")
print(9 in id )
print("ram " in id)

False
False

# set
. mutable
.unorder
.doesn't allowed dublicated
. mutable

#dictionary 
#function

In [3]:
#set operation 
#add
id={1,2,3,4,5,6}
id.add(9)
print(id)

{1, 2, 3, 4, 5, 6, 9}

In [7]:
#update
id={1,2,3,4,5,6}
roll_no={8,9,10}
id.update(roll_no)
print(id)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [10]:
#remove
set1={1,2,3,4}
set1.remove(2)
print(set1)

{1, 3, 4}

In [12]:
#discard  #same like remove but ignore error if theelement is not in set
set1={1,2,3,4}
set1.discard(2)
print(set1)

{1, 3, 4}

In [15]:
#using_pop  remove 1st element from the list
set1={1,2,3,4}
set1.pop()
print(set1)

{2, 3, 4}

In [41]:
#clear() clear all the set 
set1={1,2,3,4}
set1.clear()
print(set1)

set()

#set , union difference , intersection()

In [ ]:
#union
set1={1,2,3,4,5}
set2={2,6,7,8,9}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
#intersection ()
set1={1,2,3,4,5}
set2={2,6,7,8,9}
set3=set1.intersection(set2)
print(set3)
#another proecsss we can used  "&" operator 
set3=set1&set2 
print(set3)

{2}
{2}

In [57]:
#difference()
set1={1,2,3,4,5}
set2={2,6,7,8,9}
set3=set1.difference(set2)
print(set3)
#another process
set1={1,2,3,4,5}
set2={2,6,7,8,9}
set3=set1-set2
print(set3)

{1, 3, 4, 5}
{1, 3, 4, 5}

# dictionary 
 #### syntax  dis=key : "value",

####             key-2: "value"

In [42]:
dis={
    "name ": "ajit" ,
    'id' :10
}
print(dis)
print(type(dis))

{'name ': 'ajit', 'id': 10}
<class 'dict'>

In [43]:
#key dis.keys()
dis={
    'name': 'ajit',
    'id': '20'
}
print(dis.keys())

dict_keys(['name', 'id'])

In [44]:
#.items() is used to show what iteam are in the dictionary 
print(dis.items())

dict_items([('name', 'ajit'), ('id', '20')])

In [45]:
# .values() is used to show key values 
print(dis.values())

dict_values(['ajit', '20'])

In [46]:
#used to acces value by key index
print(dis['id'])

20

In [2]:
# 1.remove dublicate element from a list
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5]

In [3]:
# find the second largest element from the list

#. Using sorted()
nums = [10, 20, 4, 45, 99]
unique_nums = list(set(nums))  # Remove duplicates
unique_nums.sort()             # Sort in ascending order
second_largest = unique_nums[-2]
print("Second largest:", second_largest)  # Output: 45

Second largest: 45

In [5]:
#count frequency of the list 
from collections import Counter

my_list = [1, 2, 2, 3, 4, 4, 4, 5]
freq = Counter(my_list)
print(freq)
# Output: Counter({4: 3, 2: 2, 1: 1, 3: 1, 5: 1})

Counter({4: 3, 2: 2, 1: 1, 3: 1, 5: 1})

In [6]:
# find the common  two element from the list
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common = list(set(list1) & set(list2))
print("Common elements:", common)
# Output: [4, 5]

Common elements: [4, 5]

In [ ]:
# student score tracker 
 # use a list of tuples to store student name and score
   #  add new entities , find the average, highest, and lowest .
# List to store student (name, score)
students = []

# Add students
students.append(("Ajit", 85))
students.append(("Rita", 92))
students.append(("Suman", 74))
students.append(("Laxmi", 88))

# Find average
total = 0
for student in students:
    total += student[1]

average = total / len(students)

# Find highest and lowest
highest = max(students, key=lambda x: x[1])
lowest = min(students, key=lambda x: x[1])

# Output
print("All students:", students)
print("Average score:", average)
print("Highest scorer:", highest)
print("Lowest scorer:", lowest)