program

In [ ]:
#
# write a program to print natural number from 1 to n 
#for loop
n=int(input("enter a number "))
for i in range(1,n+1):
    print(i)

In [ ]:
#by using while loop
n=int(input("enter a number "))
i=1
while(i<=n):
  print(i)
  i=i+1

In [ ]:
#write a program to print sum of natural number from 1 to n 
n = int (input("enter a number"))
sum=0
for i in range(1,n+1):
    sum=sum+i

print(sum)

In [ ]:
#write a program to print the product of natural number from 1 to n 
n= int (input("enter a number"))
product=1
for i in range(1,n+1):
    product=product*i
  
print(product)

In [ ]:
#multipication table of n number 
mul=n
n= int(input("enter the vale of number"))
for i in range(1,11):
    result=mul*i
    print(result)

In [ ]:
#write a program to check the number is prime or not
n=int(input("enter a number"))
if (n<1):
    print("not prime")
else:

    if(n%2==0):
        print("not prime ")

    else:       
        print(" prime")

not prime

In [43]:
#above
n=int(input("enter a  number"))
for i in range(2,n):
    if(n%i==0):
        print('not prime')
        break
    else:
        for i in range(10):
            i=i+1
        if(n%i==0):
            print("not prime")
            break
        print("prime")

prime
prime
prime

# data structure question
1.remove dublicate element from a list
2. find the second largest element from the list
3. count frequency of the list 
4. find the common  two element from the list
5.student score tracker 
    use a list of tuples to store student name and score
    add new entities , find the average, highest, and lowest .